/* esto es el html de ajustes */
body{
	background-image: url("../img/fondo.jpg");
	background-repeat: repeat;
	position: fixed;
	width:100%;
	height:100%;
	overflow: hidden;

}
.botonvolver{
	position: fixed;
	height: 10%;
	width: 15%;
left: 46%;
	background: transparent;
}
.volver{
	position: fixed;
height: 15%;
width: 100%;
top:55%;

}

.instrucciones{

	text-align: center;
	color: white;
}
.about{
	position:fixed;
	bottom:2%;
color:white;
	text-align: center;

}